<div class="container">
  <div class="row">
    <div class="col">
      <a href="/home/cats" class="btn2">Now, click me for another surprise!</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <img src="<%= @cat_image_url %>" width=475>
    </div>
  </div>
</div>
